
.prev:hover{
    font-size: 2rem;
    
    transition: .05s ;
}
.pause:hover{
    font-size: 2rem;
    transition: .05s ;
}

.next:hover{
    font-size: 2rem;
    transition: .05s ;
}

.play:hover{
    font-size: 2rem;
    transition: .05s ;
}
/* .like:hover{
    font-size: 2rem;
    transition: .05s ;
} */
/* .karaoke:hover{
    font-size: 2rem;
    transition: .05s ;
}
.dropdown:hover{
    font-size: 1rem;
    transition: .05s ;
} */
/* .dropdown:hover .dropdown-content {
    display: block;
  } */



  
  /* Common button styles */
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    margin: 7px;
  }
  
  /* Like Button specific styles */
  .like {
    color: #4CAF50; /* Green color for the like button */
  }
  
  /* Karaoke Button specific styles */
  .karaoke {
    color: #2196F3; /* Blue color for the karaoke button */
  }
  
  /* Hamburger Menu specific styles */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .hamburger {
    color: #FF9800; /* Orange color for the hamburger menu */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
   